.calculator {
  width: 400px;
  height: 400px;
  background-color: blue;
  color: white;
  margin: 30px auto;
  border-radius: 20px;
}

.calculator__display {
  height: 130px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.calculator__display .display__text {
  font-size: 3em;
}

.calculator__buttons {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  justify-items: center;
      grid-template-areas: "seven eight nine sign del" "four five six multi divide" "one two three minus plus" "reset zero point equal equal";
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orange;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.btn:active {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.btn-grey {
  background-color: grey;
}

.equal {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: equal;
  width: 90%;
  border-radius: 50px;
}
